<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiftyr888ba.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="50R888BA"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
    </application>

</manifest>
